@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

body {
  background-color: #02042b;
}

.img__ul {
  display: flex;
  justify-content: center;
  padding: 2rem;
  position: fixed;
  font-family: "poppins";
  width: 90%;
  margin-left: 4.5%;
}
.ul__li {
  display: flex;
  text-decoration: none;
  list-style: none;
  gap: 5rem;
  font-size: 18px;
  font-weight: 600;
  margin-left: 3rem;
  margin-top:0.4rem;
}
.arrow__up {
  position: absolute;
  padding: 0.1rem 0 0 0.5rem;
}
.buttons {
  margin-top: -0.3rem;
}
.sign__in {
  background: none;
  border: none;
  padding: 0.7rem 2rem 0 0;
  cursor: pointer;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 600;
  margin-left: 5rem;
}
.sign__up {
  background-color: rgba(255, 255, 255, 40%);
  border: none;
  border-radius: 10px;
  width: 89px;
  height: 37px;
  cursor: pointer;
  font-family: "poppins";
  font-size: 16px;
  font-weight: 600;
}
.profile__middle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top:6rem;
}
.fast__reliable {
  font-family: "poppins";
  font-size: 55px;
  font-weight: 600;
  text-align: center;
  padding: 2rem;
}
.payouts,
.miss {
  background: linear-gradient(
    90deg,
    rgba(255, 132, 132, 1) 0%,
    rgba(167, 255, 98, 1) 100%,
    #eedd44
  );
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
}
.make__payments {
  text-align: center;
  font-family: "Poppins";
  font-size: 20px;
}
.profile__img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: fit;
  width: 1100px;
  height: 650px;
  padding-bottom: 3rem;
}
.li__payouts {
  display: flex;
  justify-content: center;
  gap: 2rem;
  /* margin-top:3rem; */
}
.li__list4 {
  font-size: 16px;
  font-family: "Poppins";
  font-weight: 600;
  border-right: 1px solid #fff;
  padding: 0 1.5rem 0 0;
}
.bulk {
  border: none;
}

.images__services {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem 0 2rem 0;
  gap: 7rem;
}

.services {
  width: 200px;
  height: 50px;
}
.fivetron {
  width: 192px;
  height: 44px;
}
.instacart {
  width: 285px;
  height: 55px;
}
.benchling {
  width: 306px;
  height: 58px;
}
.zepto {
  width: 220px;
  height: 220px;
}

.scroll_parent_container {
  display: flex;
  align-items: center;
  height: 35vh;
  width: 98vw;
  overflow: hidden;
}

.scroll__parent {
  position: relative;
  width: 100vw;
  height: 20rem;
  overflow-x: hidden;
  overflow-y: hidden;
}

.scroll__elements {
  width: inherit;
  height: inherit;
  position: absolute;
  left: 0%;
  top: 0%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.primary {
  animation: primary 6s linear infinite;
}

.secondary {
  animation: secondary 6s linear infinite;
}
.fivetron2 {
  padding: 0 0 0 12rem;
}

@keyframes primary {
  from {
    left: 0%;
  }
  to {
    left: -100%;
  }
}

@keyframes secondary {
  from {
    left: 100%;
  }
  to {
    left: 0%;
  }
}

.send__payments {
  display: grid;
  justify-content: center;
  margin-top: -3rem;
}
.payments__h1 {
  font-family: "Poppins";
  font-size: 55px;
  font-weight: 600;
  text-align: center;
}
.real__quick {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 80%;
  margin-left: 9%;
}
.experiences__container {
  margin: 5rem 1rem -2rem 1rem;
  text-align: justify;
  border: 1px solid #fff;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 4px 20px rgba(255, 255, 255, 0.25);
}
.experiences {
  display: flex;
}
.exp__images {
  width: 50px;
  height: 50px;
}
.exp__images_arrow {
  width: 44px;
  height: 44px;
}
.experiences__types {
  font-family: "poppins";
  font-weight: 600;
  font-size: 25px;
  display: flex;
  align-items: center;
  margin-top: -0.3rem;
  padding: 0rem 0 0 0.5rem;
}
.experiences__subtypes {
  font-family: "poppins";
  font-weight: 100;
  font-size: 17px;
  text-align: justify;
  padding: 0.5rem 1rem 0 3.3rem;
}
.eclipse__container {
  width: 135px;
  height: 500px;
  overflow: hidden;
  position: absolute;
  left: 91%;
  top: 78rem;
}
.eclipse {
  margin: -10px 0px 0px -50px;
}
.use__cases {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 12rem;
  margin-right: 12rem;
}
.use_case {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 55px;
  padding: 7rem 0 2rem 0;
  text-align: center;
}
.use_case_payments {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}
.split__payments__types {
  padding: 0 3rem 1rem 3rem;
  width: 380px;
}
.split__payments {
  display: flex;
  justify-content: center;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 10px;
}
.split__payments_dis {
  display: flex;
  justify-content: center;
  padding: 0 2rem 0 1rem;
  border-radius: 10px;
}
.split {
  padding: 0 0 0 4rem;
}
.refund {
  padding: 0 0 0 7rem;
}
.place {
  /* padding-left:-5rem; */
}
.hassle {
  padding: 0 0 0 0.5rem;
}
.payrol {
  padding: 0 0 0 0.3rem;
}
.disbursements {
  justify-content: center;
  border: 1px solid #fff;
  padding: 0.5rem;
  border-radius: 10px;
}
.dis__p {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 300;
  display: none;
}
.useCase__h5 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 20px;
  padding: 0.5rem 0 0rem 0.8rem;
}
.usecase__img1 {
  margin-left: -3rem;
  padding-top: 0.2rem;
}
.usecase__img2 {
  margin-left: -3rem;
  padding-top: 0.2rem;
}
.usecase__img3 {
  margin-left: -8rem;
  padding-top: 0.2rem;
}
.usecase__img4 {
  padding-top: 0.2rem;
}
.usecase__img5 {
  margin-left: -1.5rem;
  padding-top: 0.2rem;
}
.usecase__img6 {
  margin-left: -6.8rem;
  padding-top: 0.2rem;
}
.upArrow {
  background: #fff;
  border-radius: 50%;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin-top: -2rem;
  color: black;
}
.rotate180 {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}
.section5 {
  display: flex;
}
.section5__left {
  padding: 10rem;
  margin-top: -3rem;
  width: 63%;
}
.section5H3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
}
.section5P {
  color: rgba(255, 255, 255, 0.58);
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  padding: 0.5rem 0 0 0;
}
.section5_img_p {
  display: flex;
  padding: 2rem 0 0rem 0;
}
.ticks_types {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 15px;
  padding-left: 0.8rem;
}
.tick_img {
  width: 35px;
  height: 35px;
}

.virtualAcc {
  display: inline-block;
  overflow: hidden;
  margin-top: 3rem;
}
.move-on-hover {
  transition: transform 0.3s ease;
}

.move-on-hover:hover {
  animation: moveAnimation 2s ease-in-out; 
}

@keyframes moveAnimation {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(50px, -50px);
  }
  50% {
    transform: translate(100px, 0); 
  }
  75% {
    transform: translate(50px, 50px); 
  }
  100% {
    transform: translate(0, 0); 
  }
}
.section6 {
  display: flex;
  margin-top: -2rem;
}
.section6__right {
  padding: 5rem;
  margin-left: -20rem;
  margin-top: 5rem;
}
.section6H3 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
}
.verify {
  width: 1200px;
  height: 600px;
  overflow: hidden;
  display: inline-block;
}
.verify_img {
  margin: 6px 0px 0px -30px;
  margin-left: -10rem;
  /* margin-top: -5rem; */
}
.move-on-hover2 {
  transition: transform 0.3s ease;
}

.move-on-hover2:hover {
  animation: moveAnimation2 2s ease-in-out; 
}

@keyframes moveAnimation2 {
  0% {
    transform: translate(0, 0); 
  }
  25% {
    transform: translate(50px, -50px);
  }
  50% {
    transform: translate(100px, 0);
  }
  75% {
    transform: translate(50px, 50px); 
  }
  100% {
    transform: translate(0, 0); 
  }
}
.explore_section7 {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 40px;
  text-align: center;
  padding: 3rem;
}

.swiper {
  width: 1000px;
}
section {
  position: relative;
  display: flex;
  align-items: center;
}
.section_h3 {
  font-family: "Poppins";
  font-size: 40px;
  font-weight: 500;
  text-align: center;
  padding: 3rem 0 3.5rem 0;
}
.swiper-button-next,
.swiper-button-prev {
  transition: all 0.3s ease;
}
.swiper-button-prev,
.swiper-rtl .swiper-button-next {
  left: 10% !important;
}
.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: 10% !important;
}

.qrs_row {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.qr__cards {
  background-color: rgba(255, 255, 255, 33%);
  padding: 2rem;
  border-radius: 15px;
  width: 230px;
  height: 300px;
}
.collection_qr {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 20px;
}
.qr_img {
  padding-left: -2rem;
  padding-bottom: 0.9rem;
}
.streamline {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 12px;
  padding: 0.5rem 0 1.5rem 0;
}
.know_more {
  border: none;
  padding: 0.8rem;
  border-radius: 6px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(87, 55, 177, 1) 0%,
    rgba(62, 255, 209, 1) 100%
  );
  color: #ffffff;
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 600;
}
.testimonial_container img {
  position: absolute;
  width: 80px !important;
  height: 80px;
  top: -1rem;
  left: -3.5rem;
  z-index: 9;
}

.testimonials {
  width: 400px;
  height: 230px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(38, 30, 62, 1) 0%,
    rgba(0, 0, 0, 0.42) 100%
  );
  padding: 2.5rem 2rem 2rem 4rem;
  border-radius: 10px;
}

.notion_cfo {
  font-family: "Poppins";
  font-weight: 500;
  font-size: 16px;
  text-align: left;
  color: #ffffff;
}
.talks {
  font-family: "Poppins";
  font-size: 12px;
  font-weight: 400;
  padding: 1rem 0 0 0;
  text-align: left;
  color: #ffffff;
}
.client_talk {
  font-family: "Poppins";
  font-size: 45px;
  font-weight: 600;
  text-align: center;
  padding: 7rem 0 5rem 0;
}
.testimonial_whole {
  width: 1300px;
  margin-top:0rem;
}
.testimonial_container {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  left: 3rem;
  margin-top: 5rem;
}
.img_testimonial {
  position: relative;
}
.container h2 {
  font-family: "Poppins";
  font-weight: 600;
  font-size: 45px;
  padding: 6rem 0 2rem 0;
  text-align: center;
}

#customers-testimonials .item {
  text-align: center;
  padding: 50px;
  margin-bottom: 80px;
  opacity: 0.2;
  -webkit-transform: scale3d(0.8, 0.8, 1);
  transform: scale3d(0.8, 0.8, 1);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
#customers-testimonials .owl-item.active.center .item {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  margin-top: -5rem;
}

.frequently {
  text-align: center;
  padding: 0rem 0 3rem 0;
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 600;
  margin-top: -9rem;
}

.down_arrow {
  position: absolute;
  right: 15%;
  padding: 0 2rem 0 0;
}
.container {
  position: relative;
  padding: 40px;
}
.acc {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.questions {
  display: flex;
  cursor: pointer;
  width: 70%;
  outline: none;
  border: 1px solid #fff;
  padding: 1rem;
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 400;
  flex-direction: column;
  text-align: left;
}

.answers {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 16px;
  white-space: nowrap;
  padding: 1rem 0 1rem 2rem;
}

.questions + .answers {
  display: none;
}

.questions.is-open + .answers {
  display: block;
}
.footercontainer {
  margin-top: 2rem !important;
  margin: 100px;
  display: flex;
  flex-direction: row;

  justify-content: space-around;

  align-items: flex-start;
  /* padding: 20px; */
}

.footer1,
.footer2,
.footer3,
.footer4 {
  width: 100%;
  max-width: 300px;
  margin: 10px;
  margin-left:1.5rem;
  margin-top:3rem;
}

.footer1 {
  display: flex;
  flex-direction: column;
}

.footer1 .img {
  max-width: 100%;
  margin-bottom: 10px;
}

.footer1 .paragraph p,
.footer1 .hours h2,
.footer1 .address h2,
.footer1 .contact h2,
.footer1 .email h2,
.footer1 .number h2 {
  width: 268px;
  /* font-family: 'Poppins'; */
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif;
}

.moneypro1 {
  background: linear-gradient(
    92.56deg,
    #439cfb 0%,
    #07f49e 97.92%,
    #ffffff 97.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  font-family: "Poppins", sans-serif;

  width: 112px;
  height: 33px;

  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.footer2 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-left:5rem;
}

.footer2 .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.Products {
  background: linear-gradient(
    92.56deg,
    #439cfb 0%,
    #07f49e 97.92%,
    #ffffff 97.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  font-family: "Poppins", sans-serif;

  width: 112px;
  height: 33px;

  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.footer3 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer3 .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.Investment {
  background: linear-gradient(
    92.56deg,
    #439cfb 0%,
    #07f49e 97.92%,
    #ffffff 97.92%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
  display: flex;
  font-family: "Poppins", sans-serif;

  width: 112px;
  height: 33px;

  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}

.footer4 {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.footer4 .h2 {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 22px;
  color: #ffffff;
  margin-bottom: 10px;
}

.finalfooter {
  margin-left: 450px;
  display: flex;
  align-items: center;
}

.certification h3,
.Follow-us h2 {
  font-family: "Poppins";
  font-size: 18px;
  color: white;
}

.Follow-us {
  margin-top: 0px;
}

.links {
  margin-top: 10px;
}

.certification,
.Follow-us {
  margin-left: 155px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.certificationlogo img {
  margin-top: 20px;
}

.links img {
  margin-right: 30px;
}
